<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo List</title>
</head>

<body>
    <h1>
        <%= thatDay %>
    </h1>
    <ul>
        <li>Buy</li>
        <li>Eat</li>
        <li>Sleep</li>
        <li>
            <%= newItem %>
        </li>
    </ul>

    <form action="/" method="POST">

        <input type="text" name="newItem">
        <button type="submit" name="button">add</button>
    </form>
    <script src="app.js"></script>
</body>

</html>